In [23]:
import pandas as pd
from datetime import datetime, timedelta

In [31]:
df.to_csv('../data/overall_cases.csv', index=False)

In [28]:
n_periods = 7

day = datetime(2020, 3, 18)
day_start = day + timedelta(days=1)
day_end = day + timedelta(days=n_periods)

print(day_start)
print(day_end)

2020-03-19 00:00:00
2020-03-25 00:00:00

In [29]:
df_periods = df.loc[(df['day'] >= day_start) & (df['day'] <= day_end)]

df_periods

         day   hosp   icu  recovered  death
1 2020-03-19   4073  1002       1180    327
2 2020-03-20   5226  1297       1587    450
3 2020-03-21   5900  1453       1811    525
4 2020-03-22   6954  1674       2117    632
5 2020-03-23   8673  2080       2567    860
6 2020-03-24  10176  2516       3281   1100
7 2020-03-25  12072  2935       4085   1388

In [34]:
import numpy as np

In [36]:
id_hosp = 3
evaluation = (np.array([1, 2, 4, 3, 5]), np.array([23, 32, 45, 12, 21]))


n_hosp = evaluation[1][evaluation[0] == id_hosp][0] * 100
              
n_hosp

1200

In [73]:
imperial_df = pd.read_csv('../doc/estimates-imperial-college.csv')

imperial_df = imperial_df.loc[imperial_df['country'] == 'France', :].reset_index(drop=True)

imperial_df['time'] = pd.to_datetime(imperial_df['time'])
# imperial_df.set_index('time', inplace=True)

# imperial_df.plot()
# plt.show()

In [75]:
imperial_df.columns.values

array(['Unnamed: 0', 'time', 'country', 'reported_cases',
       'reported_cases_cumulative',
       'predicted_infections_mean_cumulative',
       'predicted_infections_lower_CI_95_cumulative',
       'predicted_infections_higher_CI_95_cumulative',
       'predicted_infections_mean', 'predicted_infections_lower_CI_95',
       'predicted_infections_higher_CI_95_cumulative.1',
       'reported_deaths', 'reported_deaths_cumulative',
       'estimated_deaths_mean_cumulative',
       'estimated_deaths_lower_CI_95_cumulative',
       'estimated_deaths_higher_CI_95_cumulative',
       'estimated_deaths_mean', 'estimated_deaths_lower_CI_95',
       'estimated_deaths_higher_CI_95',
       'mean_time_varying_reproduction_number_R(t)',
       'time_varying_reproduction_number_R(t)_lower_CI_95',
       'time_varying_reproduction_number_R(t)_higher_CI_95'], dtype=object)

In [68]:
imperial_df = pd.read_csv('../doc/estimates-imperial-college.csv')
imperial_df = imperial_df.rename(columns={'time': 'day'})
imperial_df['day'] = pd.to_datetime(imperial_df['day'])

start_day = datetime(2020, 4, 15)
end_day = datetime(2020, 4, 22)

imperial_df = imperial_df.loc[(imperial_df['country'] == 'France') & (imperial_df['day'] >= start_day) & (imperial_df['day'] <= end_day)]

# imperial_df = imperial_df.loc[:, ['day', 'estimated_deaths_mean_cumulative']]

imperial_df = imperial_df.loc[:, ['day', 'estimated_deaths_mean_cumulative']]

real_death_df = pd.read_csv('../data/overall_cases.csv')
real_death_df['day'] = pd.to_datetime(real_death_df['day'])
real_death_df = real_death_df.loc[:, ['day', 'death']]

df = pd.merge(imperial_df, real_death_df, on='day', how='inner')

df

         day  estimated_deaths_mean_cumulative  death
0 2020-04-15                      14223.140010  10643
1 2020-04-16                      14965.365450  11053
2 2020-04-17                      15704.300267  11470
3 2020-04-18                      16439.015544  11834
4 2020-04-19                      17168.886859  12061
5 2020-04-20                      17893.386498  12505
6 2020-04-21                      18611.759391  12892
7 2020-04-22                      19323.621531  13225

In [69]:
err_pct = np.mean(np.divide(np.abs(np.subtract(df['death'].values, df['estimated_deaths_mean_cumulative'])), df['death'].values)) * 100

In [70]:
err_pct

40.09824640247589

In [65]:
repartition_df = pd.read_csv('../data/state_repartition_demography.csv')
repartition_df['day'] = pd.to_datetime(repartition_df['day'])

In [67]:
day = datetime(2020, 3, 19)

repartition_df.loc[repartition_df['day'] == day]['hosp'].sum()

4360